$screen-mobile:               380px;
$screen-tablet:               768px;
$screen-desktop:              1900px;

$container-mobile:            340px;
$container-tablet:            688px;
$container-desktop:           1200px;

$color-black:                 #000000;
$color-white:                 #ffffff;
$color-gray:                  #c6c6c2;
$color-teal:                  #009e82;
$color-main-bg:               #f3f2da;
